In [135]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline

In [136]:
X = pd.read_csv('Admission_Predict.csv')

In [137]:
X.tail()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [138]:
def KS_mn(X,Y):
    X_ =pd.cut(X,bins=[0,1,2,3,4,5,np.inf],labels=['c{}'.format(i) for i in range(6)])
    Y_ =pd.cut(Y,bins=[0,1,2,3,4,5,np.inf],labels=['c{}'.format(i) for i in range(6)])
    F = pd.DataFrame(pd.value_counts(X_)/len(X)).sort_index().cumsum()
    G = pd.DataFrame(pd.value_counts(Y_)/len(Y)).sort_index().cumsum()
    Dn = []
    for x in ['c{}'.format(i) for i in range(6)]:
        Dn.append((abs(F.loc[x][0]-G.loc[x][0])))
    return max(Dn)

In [139]:
KS_mn([1,2,3,23,23,0,1,2,2,3,14,1],[31,2,3,1,0])

0.11666666666666659